.colorhr{
    background: rgba(255, 255, 255, 0.07);
}
.list-sectionContent {
    .listTopBar {
      margin-top: -210px;
  
      .search-container .dropdown-wrapper {
        .underbox {
          position: absolute;
          left: 0;
          background-color: #fff;
          border: 1px solid var(--bs-theme-light-2);
          border-radius: 20px;
          z-index: 3;
          width: 100%;  
          min-width: 230px;
          top: 50%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.35s ease;
        }
  
        &.show .underbox {
          top: calc(100% + 20px);
          opacity: 1;
          visibility: visible;
        }
  
        &.dt .underbox, &.dtx .underbox {
          min-width: 310px;
        }
  
        .select-item {
          &:last-child {
            margin-bottom: 0px !important;
            padding-bottom: 0px;
          }
  
          .select-input {
            width: 40px;
          }
  
          .select-btn {
            width: 30px;
            height: 30px;
            transition: all 0.15s ease;
  
            &:not([disabled]):hover {
              background-color: var(--bs-theme-light-2) !important;
            }
          }
        }
  
        .search-list {
          .list-label {
            cursor: pointer;
  
            &:hover, &.hover {
              color: var(--bs-dark);
            }
  
            &:hover svg, &.hover svg {
              fill: var(--bs-theme-second);
  
              * {
                fill: var(--bs-theme-second);
              }
            }
          }
  
          input:checked + .list-label {
            color: var(--bs-dark);
  
            svg {
              fill: var(--bs-theme-second);
  
              * {
                fill: var(--bs-theme-second);
              }
            }
          }
  
          li {
            &:last-child {
              margin-bottom: 0px !important;
            }
  
            ul {
              margin-top: 16px;
              padding-left: 16px;
            }
          }
        }
      }
  
      .villasType {
        .type-item .countType {
          width: 33px;
          height: 18px;
        }
  
        input:checked + label {
          border: 1px solid #c8c0b7 !important;
  
          .textTitle {
            --bs-text-opacity:1 !important;
          }
        }
      }
  
      .sidebar-element {
        .element-content {
          max-height: 321px;
          overflow-y: scroll;
          overflow-x: hidden;
  
          &::-webkit-scrollbar {
            width: 3px;
          }
  
          &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(0, 0, 0, 0);
          }
  
          &::-webkit-scrollbar-thumb {
            background: var(--bs-theme-second);
            border-radius: 10px;
  
            &:hover {
              background: var(--bs-theme-second-dark);
            }
          }
        }
  
        .countType {
          width: 33px;
          height: 18px;
        }
  
        &.pricing-select .element-content {
          overflow: unset;
        }
      }
  
      .priceCategory .irs--flat {
        .irs-handle {
          width: 14px !important;
          height: 14px !important;
          border-radius: 100%;
          background-color: var(--bs-theme-brown) !important;
  
          > i:first-child {
            background-color: rgba(0, 0, 0, 0) !important;
          }
        }
  
        .irs-bar {
          height: 6px !important;
          background-color: var(--bs-theme-brown);
        }
  
        .irs-line {
          height: 6px !important;
          background-color: #f1e8df !important;
        }
  
        .irs-from, .irs-to, .irs-single {
          top: 38px !important;
          color: #1a4564;
          text-align: right;
          font-family: "Eudoxus Sans";
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          background-color: rgba(0, 0, 0, 0) !important;
        }
  
        .irs-from:before, .irs-to:before, .irs-single:before {
          content: none !important;
        }
      }
    }
  
    .list-icerik {
      .advanced-sorting .filterItemClick.active {
        background: #f5f2ef !important;
      }
  
      .topbar-action .actions .view-btn {
        width: 50px;
        height: 40px;
  
        &.active {
          background-color: #f5f2ef !important;
        }
      }
  
      .list-villas-wrapper .listing {
        &.list-view {
          .listelemevillas {
            width: 100% !important;
          }
  
          .villasItem .contentIcerikVillas {
            display: flex;
  
            .hoverIcon {
              display: none !important;
            }
  
            .imgBoxVillas {
              flex: 0 0 33%;
            }
  
            .bottomIcerikdiv {
              display: flex !important;
              flex: 1 1 auto;
  
              .slmDstm {
                justify-content: start !important;
                gap: 16px;
              }
  
              .ribbonBoxContent {
                display: flex !important;
              }
  
              .pricehidden {
                display: none !important;
              }
  
              .flex-Content {
                flex: 1 1 auto;
              }
            }
  
            .hiddenContent {
              display: block !important;
  
              .favListBtn {
                width: 44px;
                height: 44px;
                border-radius: 40px;
                border: 2px solid #eae6e1;
                transition: all 250ms ease-in-out;
                background: #fff;
  
                .second {
                  transition: all .25s ease;
                  transform: translate(-50%, -50%) scale(0);
                }
  
                &.active .second {
                  transform: translate(-50%, -50%) scale(1.1);
                }
  
                &:hover {
                  transform: scale(1.2);
                }
              }
            }
  
            .favBtnx, .ribbonBox, .ratingContent {
              display: none !important;
            }
          }
        }
  
        .owl-stage-outer {
          overflow: visible !important;
  
          .owl-item:not(.active) {
            opacity: .5;
            pointer-events: none;
          }
        }
  
        .villasItem {
          .carousel-control-prev, .carousel-control-next {
            position: absolute;
            top: unset !important;
            bottom: 13px;
            width: 20px;
            height: 20px;
            margin: 0px 18px !important;
          }
  
          .carousel-indicators {
            height: 14px;
            margin-bottom: 16px;
  
            [data-bs-target] {
              width: 5px !important;
              height: 5px !important;
              border-radius: 100%;
            }
          }
  
          .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_22_930)'%3E%3Cpath d='M10.0001 0C15.5229 0 20 4.47711 20 9.99994C20 15.5228 15.5229 20.0001 10.0001 20.0001C4.47723 20.0001 -6.10352e-05 15.5228 -6.10352e-05 9.99994C0.00616455 4.47968 4.47961 0.00622556 10.0001 0ZM10.0001 18.9999C14.9706 18.9999 19.0001 14.9705 19.0001 9.99994C19.0001 5.02936 14.9706 0.999939 10.0001 0.999939C5.02948 0.999939 1.00006 5.02936 1.00006 9.99994C1.00574 14.9681 5.03186 18.9943 10.0001 18.9999Z' fill='white'/%3E%3Cpath d='M11.1708 6.12362C11.3788 5.9418 11.6947 5.96304 11.8765 6.17087C12.0582 6.37887 12.0369 6.69473 11.8291 6.87655L8.25928 9.99997L11.8293 13.1236C12.0373 13.3054 12.0584 13.6212 11.8767 13.8291C11.6949 14.0371 11.379 14.0583 11.171 13.8765L7.17108 10.3764C7.0625 10.2816 7.00025 10.1443 7.00025 9.99997C7.00025 9.85568 7.0625 9.71853 7.17108 9.6235L11.1708 6.12362Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_22_930'%3E%3Crect width='20' height='20' fill='white' transform='matrix(-1 0 0 1 20 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            width: 20px;
            height: 20px;
            flex-shrink: 0;
          }
  
          .carousel-control-next-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_22_933)'%3E%3Cpath d='M9.99994 0C4.47711 0 0 4.47711 0 9.99994C0 15.5228 4.47711 20.0001 9.99994 20.0001C15.5228 20.0001 20.0001 15.5228 20.0001 9.99994C19.9938 4.47968 15.5204 0.00622556 9.99994 0ZM9.99994 18.9999C5.02936 18.9999 0.999939 14.9705 0.999939 9.99994C0.999939 5.02936 5.02936 0.999939 9.99994 0.999939C14.9705 0.999939 18.9999 5.02936 18.9999 9.99994C18.9943 14.9681 14.9681 18.9943 9.99994 18.9999Z' fill='white'/%3E%3Cpath d='M8.82916 6.12362C8.62115 5.9418 8.3053 5.96304 8.12347 6.17087C7.94183 6.37887 7.96307 6.69473 8.1709 6.87655L11.7407 9.99997L8.17071 13.1236C7.96271 13.3054 7.94165 13.6212 8.12329 13.8291C8.30511 14.0371 8.62097 14.0583 8.82898 13.8765L12.8289 10.3764C12.9375 10.2816 12.9998 10.1443 12.9998 9.99997C12.9998 9.85568 12.9375 9.71853 12.8289 9.6235L8.82916 6.12362Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_22_933'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            width: 20px;
            height: 20px;
            flex-shrink: 0;
          }
  
          .contentIcerikVillas {
            transition: all 250ms ease-in-out;
  
            .hoverIcon img {
              transition: all 250ms ease-in-out;
              transform: scale(0);
            }
  
            .imgBoxVillas .image-list img, .bottomIcerikdiv .villasTitleBaslik {
              transition: all 250ms ease-in-out;
            }
  
            &:hover {
              transform: translateY(-10px);
              border: 1px solid var(--bs-theme-brown) !important;
  
              .hoverIcon img, .imgBoxVillas .image-list img {
                transform: scale(1.1);
              }
  
              .bottomIcerikdiv .villasTitleBaslik {
                color: var(--bs-theme-brown) !important;
              }
            }
          }
        }
      }
  
      
        .iconBox {
          width: 82px;
          height: 82px;
        }
      }
  
      .pagination .page-link {
        width: 48px;
        height: 48px;
        transition: all .15s ease-in-out;
        color: var(--bs-theme-first);
        border-radius: 8px;
        text-decoration: none !important;
        border: 1px solid #ede9e5;
        background: #fbf8f5;
  
        &:hover {
          background-color: var(--bs-theme-brown);
          color: var(--bs-white);
        }
  
        &.active {
          border-color: #d2dddd !important;
          color: var(--bs-white);
          background-color: var(--bs-theme-brown);
        }
  
        &:last-child {
          margin-right: 0px !important;
        }
      }
    }
  
 
  
  @media screen and (max-width: 1200px) {
    .mobileFilter {
      .filterBtn, .sortBtn {
        background-color: var(--bs-theme-brown);
      }
    }
  
    .list-sectionContent .listTopBar.sidebar {
      position: fixed;
      margin-top: 0px !important;
      top: 100%;
      right: 0px;
      width: 100%;
      height: 0;
      overflow-y: auto;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
      background-color: var(--bs-white);
      visibility: hidden;
      z-index: 999;
  
      &.active {
        height: 100%;
        top: 0px;
        opacity: 1;
        visibility: visible;
        box-shadow: 0px 20px 20px 0px rgba(37, 158, 241, 0.4196078431);
      }
    }
  
    .list-icerik .advanced-sorting {
      position: fixed;
      top: 100%;
      right: 0px;
      width: 100%;
      height: 0;
      overflow-y: auto;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
      background-color: var(--bs-white);
      visibility: hidden;
      z-index: 999;
  
      .filterContent {
        width: 100%;
  
        .filterItemClick {
          width: 100%;
        }
      }
  
      &.active {
        height: 100%;
        top: 0px;
        opacity: 1;
        visibility: visible;
        box-shadow: 0px 20px 20px 0px rgba(37, 158, 241, 0.4196078431);
      }
    }
  }
  
  @media screen and (max-width: 991px) {
    .list-sectionContent .list-icerik .detailed-information .homeBanner::after {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .list-sectionContent .list-icerik .detailed-information .homeBanner::after {
      background-position: left;
    }
  }
  
  @media screen and (max-width: 575px) {
    .list-sectionContent {
      .list-icerik .holidayWizard .holidayContent {
        .iconShrbz {
          width: 40px !important;
          height: 40px !important;
        }
  
        .fs-4 {
          font-size: 20px !important;
        }
  
        .fs-7 {
          font-size: 12px !important;
        }
      }
      .listTopBar .search-container .dropdown-wrapper {
        .underbox-wrapper {
          position: fixed;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 9;
          display: flex;
          align-items: end;
          transition: all .3s ease;
          padding-top: 50px;
  
          .underbox-shadow {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.38);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.15s ease, visibility 0.15s ease;
          }
  
          .underbox {
            position: relative !important;
            top: unset !important;
            left: unset !important;
            right: unset !important;
            transform: none !important;
            border-radius: 16px 16px 0px 0px;
            max-height: 100%;
            display: flex;
            flex-flow: column nowrap;
  
            > * {
              padding-left: 24px !important;
              padding-right: 24px !important;
            }
  
            .ui-datepicker {
              width: 100%;
            }
  
            .close-line {
              background-color: rgba(0, 0, 0, 0);
              width: 100%;
              padding: 7px 0px 14px;
              text-align: center;
              display: flex;
              justify-content: center;
  
              span {
                width: 48px;
                height: 3px;
                background-color: #dfdfdf;
                border-radius: 3px;
                display: inline-block;
              }
            }
  
            .underbox-content {
              flex: 1 1 auto;
              overflow: auto;
              padding-top: 24px;
              padding-bottom: 24px;
            }
          }
        }
  
        &.show .underbox-wrapper {
          top: 0;
  
          .underbox-shadow {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }


.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}


.list-sectionContent .list-icerik {
  .topbar-action .actions .view-btn {
    width: 50px;
    height: 40px;

    &.active {
      background-color: #f5f2ef !important;
    }
  }
  .list-villas-wrapper .listing.list-view {
    .villasItemWidth {
      width: 100% !important;
    }

    .villasItem .contentIcerikVillas {
      display: flex;

      .hoverIcon {
        display: none !important;
      }

      .imgBoxVillas {
        flex: 0 0 33%;
      }

      .bottomIcerikdiv {
        display: flex !important;
        flex: 1 1 auto;

        .slmDstm {
          justify-content: start !important;
          gap: 16px;
        }

        .ribbonBoxContent {
          display: flex !important;
          margin-top: 16px;
        }

        .pricehidden {
          display: none !important;
        }

        .flex-Content {
          flex: 1 1 auto;
        }
      }

      .hiddenContent {
        display: block !important;

        .favListBtn {
          width: 44px;
          height: 44px;
          border-radius: 40px;
          border: 2px solid #eae6e1;
          transition: all 250ms ease-in-out;
          background: #fff;

          .second {
            transition: all .25s ease;
            transform: translate(-50%, -50%) scale(0);
          }

          &.active .second {
            transform: translate(-50%, -50%) scale(1.1);
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .favBtnx, .ribbonBox, .ratingContent {
        display: none !important;
      }
    }
  }
}

  @media screen and (max-width: 991px) {

  }